<%- include ("partials/header.ejs") %>

<section title="Publications">
  <div class="container px-4 py-5 country">
    <div class="title">
      <h1 class="firstRow">We love</h1>
      <h1 class="secondRow">SPAIN</h1>
    </div>
    <% if (publications.some(publication => publication.country === 'Spain')) { %>
      <div class="container cards row">
        <% 
          // Get the current time once when the page is loaded
          var currentTime = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
          
          publications.filter(publication => publication.country === 'Spain').forEach(function(publication, index) { 
            // Check if it's a multiple of 2 (i.e., even index) to start a new row
            if (index % 2 === 0) { %>
              <div class="row">
            <% } %>
            <div class="col-md-6">
              <div class="card mb-3 post-content post-<%= index %>">
                <div class="card-header">
                  <h5 class="card-title"><%= publication.fName %></h5>
                </div>
                <div class="card-body">
                  <p class="card-text"><%= publication.Story %></p>
                  <!-- Display the fixed publication time captured when the page loaded -->
                  <p class="date">Published at <%= currentTime %>.</p>
                  <div id="rating">
          <% for (let i = 1; i <= 5; i++) { %>
            <span onclick="rate('<%= index %>', `<%=i%>`)" class="star">★</span>
          <% } %>
      </div>
      <span id="userRating-<%= index %>">0</span>/5
                </div>
              </div>
            </div>
            <% 
              // Check if it's the last item or if the next item will start a new row
              if (index === publications.length - 1 || (index + 1) % 2 === 0) { %>
                </div>
            <% } %>
        <% }); %>
      </div>
      <% } else { %>
          <h2 class="noPublications">No stories at the moment. Wanna be the first to create one?</h2>
      <%}%>
  </div>
</section>

<%- include ("partials/footer.ejs") %>
